@use 'variaveis';

.customer {
    width: calc(100% - 160px);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;

    &__content {
        &__title {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 64px;
            color: variaveis.$mainText;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 44px;
            }

            &--highlight {
                color: variaveis.$textHighlight;
            }
        }

        &__text {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color:variaveis.$mainText;
            text-align: center;
            margin-top: 4px;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        &__images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__legend {
                max-width: 100%;
                margin-top: 16px;
                margin-bottom: 64px;
            }

            &__map {
                max-width: 100%;
            }
        }
    }
}