@use 'variaveis';

.hero {
    &__content {
        position: relative;
        color: variaveis.$mainText;
        text-align: center;
        height: 70vh;
        
        &__container {
            width: calc(100% - 160px);
            margin-left: 80px;
            margin-right: 80px;
            position: relative;

            @media (max-width: 768px) {
                width: calc(100% - 80px);
                margin-left: 40px;
                margin-right: 40px;
            }
        }

        &__text{
            margin: 120px 0;
            
            @media (max-width: 768px) {
                margin-top: 200px;
            }

            @media(min-width: 768px) and (max-width: 1199px) {
                margin-top: 400px;
            }

            &__title {
                font-family: variaveis.$mainFont;
                color: variaveis.$mainText;
                text-transform: uppercase;
                text-align: start;

                &--highlight {
                    font-weight: 600;
                    font-size: 56px;

                    @media (max-width: 768px) {
                        font-size: 42px;
                    }
                }
            }

            &__p {
                max-width: 486px;
                margin-top: 8px;
                margin-bottom: 24px;
                font-family: variaveis.$mainFont;
                color: variaveis.$mainText;
                text-align: start;
            }
        }

        &__image {
            position: absolute;
            right: -80px;
            bottom: calc(100% - 60vh);
            // width: 566px;

            @media (max-width: 768px) {
                right: 0;
                top: 0;
            }

            @media(min-width: 768px) and (max-width: 1199px) {
                right: 0;
                top: 0;
            }
        }

        &__icons {
            margin-top: 60px;
            height: 80px;
            background-color: variaveis.$backgroundHighlight;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 80px;
            
            @media (min-width: 768px) and (max-width: 1199px) {
                display: flex;
                margin-top: -110px;
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
                padding: 10px 0;
                margin-top: -100px;

                img {
                    margin-top: 10px;
                }
            }

            
            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                
                &__image {
                    width: 100px;
                }
    
                &__decoration {
                    display: inline-block;
                    width: 2px;
                    height: 48px;
                    background-color: #181818;
                    margin: 0 150px;

                    @media (max-width: 768px) {
                        &--small {
                            display: none;
                        }
                    }

                    @media (min-width: 768px) and (max-width: 1199px) {
                        &--small {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}