$mainText: #fbfbfb;
$textHighlight: #FC3F37;
$darkText: #424242;
$backgroundColor: #181818;
$backgroundHighlight: #111;

$mainFont: 'Poppins', sans-serif;
$secondFont: 'Inter', sans-serif;
$thirdFont: 'Montserrat', sans-serif;